/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: sans-serif;
  }
  
  /* utilities */
  
  /* content */

  #PC-numbers-container{
    margin: auto;
    width: 1000px;
    height: 100px;
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .PC-numbers{
    padding: 20px;
  }


  #btn-container{
    margin: auto;
    width: 1000px;
    height: 100px;
    background-color: aqua;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

  }